{% extends 'base/main.html' %}
{% block content %}

<div class="header-bar">
    <h1>রেজিস্টার</h1>
</div>

<div class="card-body">
    <form method="POST">
        {% csrf_token %}
        <label>ইউজার</label>
        {{form.username}}

        <label>পাসওয়ার্ড</label>
        {{form.password1}}

        <label>পাসওয়ার্ড নিশ্চিত করুন</label>
        {{form.password2}}
        <input style="margin-top:10px ;" class="button" type="submit" value="রেজিস্টার">
    </form>
    <p>ইতিমধ্যে অ্যাকাউন্ট আছে? <a href="{% url 'login' %}">লগইন</a></p>
</div>




{% endblock content %}