{% extends 'base/main.html' %}
{% block content %}

<div class="header-bar">
    <a href="{% url 'tasks' %}">&#8592; পিছনে</a>
</div>


<div class="card-body">
    <form method="POST" action="">
        {% csrf_token %}
        <label> <b>{{ task }}</b> </label>
        <label for="is_done">আমল সম্পূর্ণ করা হয়েছে</label>
        <input id="is_done" type="checkbox" name="complete" {% if task.complete == True %} checked="checked" {% endif %}>
        <p>
        <input class="button" type="submit" value="ঠিক আছে">
    </form>
</div>


{% endblock content %}